[submodule "third_party/devourer"]
	path = third_party/devourer
	url = https://github.com/OpenIPC/devourer
[submodule "third_party/libusb"]
	path = third_party/libusb
	url = https://github.com/libusb/libusb
